AUTH_USER_INFO=auth-user-info

AZURE_BLOB_STORE_ACCOUNT_KEY=ucitest
AZURE_BLOB_STORE_ACCOUNT_NAME=azure-blob-store-account-name
AZURE_BLOB_STORE_CONTAINER=uci-test-container

BOOTSTRAP_SERVERS=localhost:9092

CAFFEINE_CACHE_EXPIRE_DURATION=300
CAFFEINE_CACHE_MAX_SIZE=0

CAMPAIGN_ADMIN_TOKEN=token
CAMPAIGN_URL=http://localhost:9999

CASSANDRA_KEYSPACE=testkeyspace
CASSANDRA_PORT=9042
CASSANDRA_URL=127.0.0.1

CDN_MINI_LOGIN_ID=pdf-make-cdn
CDN_MINIO_APP_ID=2011a6c9-7fb7-4306-8c6d-c96cb07c7859
CDN_MINIO_BUCKET_ID=pdf-make-outputs
CDN_MINIO_FA_KEY=fa-key
CDN_MINIO_FA_URL=http://localhost:9011/
CDN_MINIO_PASS=password
CDN_MINIO_URL=https://www.exmaple.com/

DATABASE_URL=jdbc:postgresql://localhost:5434/messagedb

DEVELOPMENT_ENV=dev
ENV=dev

FORMS_DB_HOST=127.0.0.1
FORMS_DB_NAME=formsdb
FORMS_DB_PASSWORD=yoursupersecret
FORMS_DB_PORT=5435
FORMS_DB_URL=postgresql://127.0.0.1:5435/formsdb
FORMS_DB_USERNAME=postgresql

FUSIONAUTH_KEY=fa-key
FUSIONAUTH_URL=http://localhost:9011/

KAFKA_CAMPAIGN_TOPIC=campaign
KAFKA_INBOUND_ERROR_TOPIC=inbound-error
KAFKA_INBOUND_GS_OPTED_OUT_TOPIC=gs-opted-out
KAFKA_INBOUND_INTEGRITY_TEST_TOPIC=inbound-integrity-test
KAFKA_INBOUND_PROCESSED_TOPIC=inbound-processed
KAFKA_INBOUND_UNPROCESSED_TOPIC=inbound-unprocessed
KAFKA_LOGS_TOPIC=uci-telemetry-logs
KAFKA_ODK_TRANSFORMER_TOPIC=com.odk.transformer
KAFKA_ODK_TRANSFORMER_TOPIC_PATTERN=com.odk.*
KAFKA_ORCHESTRATOR_INTEGRITY_TEST_TOPIC=orchestrator-integrity-test
KAFKA_OUTBOUND_TOPIC=outbound
KAFKA_TELEMETRY_TOPIC=telemetry
KAFKA_TRANSFORMER_INTEGRITY_TEST_TOPIC=transformer-integrity-test

LS_ACCESS_TOKEN=ls-token
LS_END_POINT=https://ingest.lightstep.com:443
LS_SERVICE_NAME=samagra-inbound-opentelemetry
LS_TRACER_NAME=inbound
LS_TRACER_VERSION=1.0.0

NETCORE_WHATSAPP_AUTH_TOKEN=netcore-token
NETCORE_WHATSAPP_SOURCE=source
NETCORE_WHATSAPP_URI=https://waapi.pepipost.com/api/v2/

ODK_PASS=abcd1234
ODK_URL=https://localhost:9999/
ODK_USER=test

POSTHOG_TELEMETRY_APIKEY=posthog-key
POSTHOG_TELEMETRY_URL=https://telemetry.samagra.io

REDIS_DB_INDEX=6
REDIS_HOST=localhost
REDIS_PORT=6379

REGISTRY_URL=127.0.0.1:8081

WEBCLIENT_HTTP_REQUEST_TIMEOUT=5

MAX_SIZE_FOR_MEDIA=1000000